<h1>Control Panel</h1>

<div class='row'>
	<div class='span3'>
	<div ng-controller='AddUser'>
	<form ng-submit="addUser()">
	  <h2>Add Users</h2>
	  <input type='text' placeholder='Assasin Name' ng-model='name'>
	  <input type='text' placeholder='Email' ng-model='email'>
	  
	  
      <video id="v" width='100%' height="300"></video>
      <input id="b" type="button" disabled="true" value="Take Picture"></input>
      <canvas id="c" style="width:100%" width="640" height="480"></canvas>
	  
	  <label>Automatically Add to Game</label>
	  <select >
		  <option ng-repeat='game in games'><a>{{game.name}}</a></option>
	  </select>
		<output id="list"></output>
	  <button class='btn' type='submit'>Add</button>
	</form>
	</div>
	<div ng-controller='CreateGame'>
		<form ng-submit="createGame()">
		<h2>Create New Game</h2>
		<input type='text' placeholder='New Game Name' ng-model='name'>
		<div class="input-append">
		<input type='text' class='span1' placeholder='7' ng-model='duration'>
		<select class='span2'>
		  <option><a>Hours</a></option>
		  <option><a>Days</a></option>
		</select>
		</div>
		
		<button class='btn btn-large'>Create NEW Game</button></a>
		</form>
	</div>
	</div>
	
	<div class='span8 offset1'>
	<div ng-controller='AllUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
	<h2>All Users</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		</td>
		<td>
		  Username
		</td>
		<td>
		  Email
		</td>
			<td>
		  Created
		</td>

	  </tr>
		<tr ng-repeat="user in users | filter:userSearch">
		<td><a href='#/dashboard/{{user.id}}'><img src="images/thumb.php?id={{user.picture}}" height='30px'></a></td>
		  <td><a href='#/dashboard/{{user.id}}'>{{user.name}}</a> </td> 
		  <td>{{user.email}}</td>
		  <td>{{user.date}}</td>
		</tr>
	</table>
	</div>
	</div>
	
	<div class='span8 offset1'>
	<div ng-controller='AllGames'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='gameSearch'>
	<h2>All Games</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  ID
		</td>
		<td>
		  Name
		</td>
		<td>
		  Active
		</td>
			<td>
		  Created
		</td>
		<!--<td>
		  Delete
		</td>-->

	  </tr>
		<tr ng-repeat="game in games | filter:gameSearch">
		  <td>{{game.id}}</td>
	      
		  <td>
		  <a href='#/admin/game/{{game.id}}'>
			{{game.name}} 
	      </a>
		  </td> 
		  <td>{{game.active}}</td>
		  <td>{{game.created}}</td>
		  <!--<td><button class='btn btn-warning'>Delete Game</button></td> For a differetn view -->
		</tr>
	</table>
	</div>
	</div>
</div>