<h1>Control Panel</h1>
<div class='row'>
	<div class='span3'>
	<div ng-controller='AddUser'>
	<form ng-submit="addUser()">
	  <h2>Add Users</h2>
	  <input type='text' placeholder='Assasin Name' ng-model='name'>
	  <input type='text' placeholder='Email' ng-model='email'>
	<!--  <input type="file" id="files" name="files[]" multiple />-->
		<output id="list"></output>
	  <button class='btn' type='submit'>Add</button>
	</form>
	</div>
	<div ng-controller='CreateGame'>
		<form ng-submit="createGame()">
		<h2>Create New Game</h2>
		<input type='text' placeholder='New Game Name' ng-model='name'>
		<button class='btn btn-large'>Create NEW Game</button></a>
		</form>
	</div>
	</div>
	
	<div class='span9'>
	<div ng-controller='AllUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
	<h2>All Users</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  ID
		</td>
		<td>
		  Username
		</td>
		<td>
		  Email
		</td>
			<td>
		  Created
		</td>

	  </tr>
		<tr ng-repeat="user in users | filter:userSearch">
		  <td>{{user.id}}</td>
		  <td>{{user.name}} </td> 
		  <td>{{user.email}}</td>
		  <td>{{user.date}}</td>
		</tr>
	</table>
	</div>
	</div>
	
	<div class='span9'>
	<div ng-controller='AllGames'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='gameSearch'>
	<h2>All Games</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  ID
		</td>
		<td>
		  Name
		</td>
		<td>
		  Active
		</td>
			<td>
		  Created
		</td>

	  </tr>
		<tr ng-repeat="game in games | filter:gameSearch">
		  <td>{{game.id}}</td>
	      
		  <td>
		  <a href='#/admin/game/{{game.id}}'>
			{{game.name}} 
	      </a>
		  </td> 
		  <td>{{game.active}}</td>
		  <td>{{game.created}}</td>
		</tr>
	</table>
	</div>
	</div>
</div>