
	<div class='row'>
	<div class='span6'>
			

		<div class='row'>
		<div class='span4'>
			<h3 class='tk-ff-cocon-web-pro'>Welcome, {{user.name}}</h3>
			<h4 class='text-error'>There are ? people hunting you.</h4>
			<h4>Your rank: <span class='bold'>?<span> / ???</h4>
			<h4>KILLS: <span class='bold'>{{score.kills}} DEATHS: {{score.deaths}}<span></h4>
			Recently...<br>
			<span class='text-info'>Lighto</span> killed <span class='text-info'>Tiny Tom</span> 12 minutes ago.<br>
			<span class='text-info'>MightyDeathOtter</span> killed <span class='text-info'>RenlysGhost</span> 18 minutes ago. <i class="icon-hand-up"></i><br>
			
		</div>
		<div class='span2'>
			<img class="img-polaroid" ng-hide = "!user.picture" src='images/{{user.picture}}.png'>
		</div>
		</div>
		
	
	

	</div>
	<div class='span5 offset1'>
		<h1 class='text-error'>TARGET</h1>
		<div class='row'>
			<div class='span3'>
				<img class="img-polaroid" src='images/{{pursuit.picture}}.png'>
				<h3 class='text-error'>{{pursuit.name}}</h3>
					

					<button type="submit" class="btn btn-danger btn-large btn-block" ng-click='alert("KILL!")'>ASSASSINATE</button>
					<button type="submit" class="btn  btn-disabled btn-block" ng-click='alert("KILL!")'>NEW TARGET (Available in 12:32)</button>

			</div>
			<div class='span2'>
					<h4 class='text-info'>Rank: 12</h2>
					<h4 class='text-info'>Last Known Location: Posing as a Robot in Ruckus Brigade, 16 minutes ago</h2>
				</div>
			</div>
				
	</div>
	</div>
	<h2>11 people are following this.</h2>
	<a href="https://twitter.com/intent/tweet?button_hashtag=ultimatechampionment" class="twitter-hashtag-button" data-related="robotEggplant">Tweet #ultimatechampionment</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<h2>
	
	
