<ng-include src="'routes/gameNavbar.html'"></ng-include>

<div class='row'>

<div class='span12'>
<div ng-controller='AllGameUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
<h2>In This Game</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  User
		</td>
		<td>
		  Email
		</td>
		<td>
		  Kills
		</td>
		<td>
		  Deaths
		</td>
		<td>
		  Pursuing
		</td>
		<td>
		
		</td>
		<td>
		
		</td>
		<td>
	
		</td>
	  </tr>
	  <tr ng-repeat="user in users | filter:userSearch" ng-controller='GameDashboardUserView'>
		<td>{{user.user_name}} </td> 
		<td>{{user.email}}</td>
		<td>{{user.score[0].kills}}</td>
		<td>???</td>
		<td>{{user.pursuit[0].details[0].name}}</td>
		<td> 
			<a role="button" class="btn btn-info" ng-class="{'disabled': !user.pursuit[0]}" ng-click='completePursuit(user.pursuit[0].id)'>COMPLETE CONTRACT</button>
			<!-- <button class='btn btn-info'>SEND MESSAGE</button>-->
		</td>
		<td>  <button class='btn btn-warning'>SUSPEND</button></td>
		<td>	  
		<a href="#myModal" role="button" class="btn btn-danger" ng-click='handleRemovedUserPrompt(user.user_id, user.user_name)' data-toggle="modal">REMOVE</a>
		</td>
	  </tr>
	</table>
</div>
</div>

<!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">REMOVE USER</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove {{removed_user_name}} from {{gameName}}? </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button data-dismiss="modal" ng-click='removePlayerFromGame(game.id, removed_user_id)' class="btn btn-danger">REMOVE PLAYER</button>
  </div>
</div>