

<div class='navbar '> 
	<div class='navbar-inner   animate {{calculatorKind}}-color'>
		<div class="container">
			<a class='brand'>
				{{gameName}}
			</a>
		
			<div class='<!--nav-collapse-->'>
				<ul class='nav pull-right'>
					<li>
						<a data-toggle='collapse' data-target='.nav-collapse'>Dashboard</a>
					</li>
					<li>
						<a data-toggle='collapse' data-target='.nav-collapse'>Game Settings</a>
					</li>
					<li>
						<a data-toggle='collapse' data-target='.nav-collapse'>Edit Users</a>
					</li>
					
				</ul>
				
			</div>
			
		</div>
	</div>
</div>
<div class='hidden-phone pull-right'>
</div>


<div class='row'>

<div class='span7'>
<div ng-controller='AllGameUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
<h2>Top Players</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  User
		</td>
		<td>
		  Kills
		</td>
		<td>
		  Currently Pursuing
		</td>
		<td>
		  
		</td>
	  </tr>
	  <tr ng-repeat="user in gameUsers | filter:userSearch">
		<td>{{user.user_name}} </td> 
		<td>{{user.email}}</td>
		<td>?</td>
	  </tr>
	</table>
</div>
</div>

<div class='span5'>
<div ng-controller='AllUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
	<h2>All Users</h2>
	<table class='table .table-striped'>
	  <tr>
		<td>
		  ID
		</td>
		<td>
		  Username
		</td>
		<td>
		  
		</td>
	  </tr>
	  <tr ng-controller='GameUserView' ng-repeat="user in users | filter:userSearch">
		<td>{{user.name}} </td> 
		<td>{{user.email}}</td>
		<td><button class='btn' type='submit' ng-click="addUserToGame(user.id, game_id)">Add</button></td>
	  </tr>
	</table>
	</div>
	</div>
</div>