<ng-include src="'routes/gameNavbar.html'"></ng-include>

<div class='row'>

<div class='span7'>
<div ng-controller='AllGameUsers'>
	<input type='text' class='search-query pull-right' placeholder='Search' ng-model='userSearch'>
<h2>Top Players</h2>
	<table class='table table-striped'>
	  <tr>
		<td>
		 <!-- image -->
		</td>
		<td>
		  User
		</td>
		<td>
		  Kills
		</td>
		<td>
		  Deaths
		</td>
		<td>
		  Currently Pursuing
		</td>
		<td>
		  Pursued By
		</td>
	  </tr>
	  <tr ng-controller='GameDashboardUserView' ng-repeat="user in users | filter:userSearch limitTo:10">
	    <td><img src="images/thumb.php?id={{user.details[0].picture}}"></td>
		<td>{{user.user_name}} </td> 
		<td>{{user.score[0].kills || 0}}</td>
		<td>{{user.score[0].deaths || 0}}</td>
		<td>{{user.pursuit[0].details[0].name}}</td>
		<td>?</td>
	  </tr>
	</table>
</div>
</div>

<div class='span4'>
<h2>Time Left: 06:52:33</h2>
<h3>Number of Players: 206</h3>
<h3>Total Kills: 53</h3>
<button class='btn-block btn-large btn-warning'>PAUSE</button>
	
</div>

